html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn-small {
  margin:0;
  display: block;
  text-decoration: none;
  font-size: .875rem;
  padding: .4em .75em .3em;
  font-weight: normal;
  border-radius: 8px;
  border-width: 3px;
}

.btn {
  margin: 0;
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: normal;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
}

.btn-big {
  margin: 0;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #ccc;
}
